* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  background-color: aqua;
  margin: 0 auto;
}
.main {
  margin: auto;
  width: auto;
  background-color: red;
  border: 1px solid gray;
  border-radius: 20px;
}


